* {
    margin:0;
    border:0;
    box-sizing:border-box;
}

body {
    background:#a1c4fd;
}

i {
    color:white;
    text-shadow: 2px 2px gray;
}



label {
    color:white;
    font-size: 1.1em;
    font-size: bold;
    text-shadow: 2px 2px gray;
    display:block;
    margin-bottom:8px;
    margin-top:20px;
}

.input {
    padding:10px;
}

input.check{
    margin-right:10px;
}

input {
    font-weight: 900;
}

.fade-img {
    position:relative;
    z-index: -1;
    height:600px;
  }
  
  .fade-img img {
    position:absolute;
    height: 600px;
    width: 100%;
  }

  .question {
    text-align: center;
    margin:30px;
}



.container {
    top: 25%;
    left: 2%;
    position:absolute;
    /* transform:translate(-50%, -50%);  */

} 


.present {
    display:flex;
    width:100px;
    align-items:center;
    flex-direction: column;
    height:120px;
    position:relative;
}

.lid {
    height:20px;
    width:calc(100% + 10px);
    border: 4px solid #2C3A49;
    border-radius:3px;
    background: gold;
    box-shadow:inset 3px 2px rgba(255, 255, 255, .5);
}

.box {
    width:100%;
    height:55px;
    
    background-image: radial-gradient(#fff 20%, transparent 20%),
    radial-gradient(#fafafa 20%, transparent 20%);
    background-color:gold;
    background-position: 0 0, 20px 20px;
    background-size: 40px 40px;
    border: 4px solid #2C3A49;
    border-top:0;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
    box-shadow: inset -10px 5px rgba(0,0,0,.3);
}

.ribbon {
    position:absolute;
    width:30px;
    background: rgb(158, 206, 86);
    height:calc(69.5% - 6px);
    border: 4px solid #2C3A49;
    top:-2px;
    border-radius:3px;
    box-shadow:inset 3px 2px rgba(255, 255, 255, .5);
}

.ribbon::before {
    display:block;
    content:'';
    width:100%;
    height:5px;
    position:absolute;
    top:14px;
    background: rgba(0,0,0,.3);
}

.bow {
    width:20px;
    height:20px;
    border:4px solid #2C3A49;
    background:yellow;
    top:-15px;
    border-radius:50%;
    position:absolute;
    box-shadow:inset 3px 2px rgba(255, 255, 255, .5), inset -2px -5px rgba(0, 0, 0, .3);
    display:flex;
}

.bow::before, .bow::after {
    display:block;
    position:absolute;
    width:30px;
    height:30px;
    top: -10px;
    content:'';
    background:yellow;
    border:4px solid #2C3A49;
    border-radius:50%;
    z-index:-1;
    box-shadow:inset 3px 2px rgba(255, 255, 255, .5), inset -2px -5px rgba(0, 0, 0, .3);
}

.bow::before {
    left:15px;
}

.bow::after {
    right:15px;
}

.career {
    margin:20px;
    font-size: 1.2em;;
}

.rule {
    font-size:1.3em;
    font-weight: bold;
    list-style-type: none;
    margin:10px 20px 10px 10px;
}

.thxform {
    font-size: 1.7em;
    font-weight:900;
    line-height: 50px;
    margin:20px;
}



@media all and (min-width:1280px) {

.page {
    z-index:10;
    top:40%;
    left:46.5%;
    font-size: 2em;
    position:absolute;
    color:hotpink;
    text-shadow: 2px 2px red;
}

.name {
    z-index:10;
    top:20%;
    left:24%;
    font-size: 4em;
    position:absolute;
    color:white;
    text-shadow: 2px 1px aquamarine;

}

.top_thx {
    z-index:10;
    top: 45%;
    left:40%;
    font-size: 3.5em;
    position:absolute;
    color:white;
    text-shadow: 2px 1px aquamarine;
}

.check2 {
    display:block;
    margin:20px auto;
    border-radius: 90%;
    width:200px;
    height:200px;
    
}

.response2 {
    float:left;
    width:48%;
    
}    

.response {
    float:right;
    width:48%;
}

fieldset {
    z-index:10;
    top:42%;
    left:33%;
    position:absolute;
}

nav {
    width: 67%;
    float: right;
    margin-top: 45px;
    
}

nav li{
    float: left;
    margin-left: 40px;
    width:160px;
    text-align: center;
    list-style-type: none;

}

nav a {
    font-size: 1.7em;
    color:#e1f765;    
text-shadow: 3px 0 #888888;
letter-spacing:2px;
font-weight:bold;
    text-decoration: none; 
    
}

nav a:hover {
    background: lightblue;
    padding:15px 25px 15px 25px;
    border-radius:20px; 
} 


.marvei {
    float:left;
    width:45%;

}

.marvel {
    float:right;
    width:45%;
    
}


.slides img {
    height:450px;
}

#class {
    width:80%;
    margin:0 auto;
    margin-top:75px;
    height:620px;
    /* background:#ccc;
    border: 2px solid black; */
    padding: 0 25px 10px 0;
    clear: both;
    margin-bottom:25px;
}

 
.one {
    width:100%;
    height:180px;
    margin-left:28px
}

.two {
    width:100%;
    height:180px;
    margin-left:12%;

}

.logo {
    height:150px;
    width:17%;
    margin:10px;
    display:inline-block;
    box-shadow: 0 0 20px -5px rgba(0, 0, 0, .8);
    border-radius:70%;
}

.logo2 {
    height:150px;
    width:17%;
    margin:10px;
    display:inline-block;
    box-shadow: 0 0 20px -5px rgba(0, 0, 0, .8);
    border-radius:70%;
}


ul.slides li {
	display:none;
	position:relative;
	list-style:none;
}
ul.slides li img {
	width:600px;
}

ul.slides li p {
	position:absolute;
	top:1em;
	left:1em;
	color:white;
	font-size:1.2em;
}

.fade-img {
    position:relative;
    z-index: -1;
    height:600px;
  }
  
  .fade-img img {
    position:absolute;
    height: 600px;
    width: 100%;
  }

  
.carousel-container {
    padding-top:30px;
    width:60.1%;
    margin:auto;
    overflow:hidden;
    position: relative;
}

#prevBtn {
    position:absolute;
    top:52%;
    left:5.2%;
    z-index:10;
    font-size:30px;
    color:white;
    opacity: .6;
    cursor:pointer;
}

#nextBtn {
position:absolute;
top:52%;
    z-index:10;
    left:92%;
    font-size:30px;
    color:white;
    opacity: .6;
    cursor:pointer;
}

.screen {
    width:100%;
    height:110%;
}

.carousel-slide {
    display:flex;
    width:100%;
    height:500px;
}

.wrapper {
    width:960px;
    margin:30px auto;
}

.myfname, .mylname {
    display:none;
} 

.myfname2 {

    margin:100px 30px 0px 30px;
    
    text-align: center;
    letter-spacing: 30px;
    font-size:2em;
    text-shadow:  3px 3px 5px royalblue;
}

.mylname2 {
    margin: 3px 70px;
    text-align: center;
    letter-spacing: 30px;
    font-size:2em;
    text-shadow:  3px 3px 5px royalblue;
}

.mypic {
    float:left;
    width:50%;
    height:600px;
    margin:30px;
}

.mypic2 {
    display: none;
}

.about {
    float:right;
    width:40%;
}


.attend {
    float:right;
    clear:both;
    margin:30px 0 0 0;
}

.title {
    font-size: 3em;
    letter-spacing: 20px;
    margin-left:30px;
    text-transform: uppercase;
}

.titles {
    font-size: 3em;
    letter-spacing: 20px;
    margin-left:90px;
    margin-bottom:20px;
    text-transform: uppercase;
}

article {
    width:960px;
    margin:auto;
  
}

.telphone {
    float:left;
    width:45%;
}

.infomation {
    text-align: center;
    margin:20px;
    font-size:1.5em;
}

.email {
    width:45%;
    float:right;
}

.info {
    text-align: center;
    margin:20px;
    font-size:1.5em;
}

.imglogo {
    margin-top:20px;
    
    border-radius: 75%;
    width:150px;
    height:150px;
}

.imglogo2 {
    margin-top:20px;
    border-radius: 75%;
    width:150px;
    height:150px;
}

.below {
    margin:15px auto;
    height:50px;
    width:960px;
    clear: both;
}

.footer {
    float:left;
    margin-left:45px;
    margin-right:40px;
    line-height:50px;
    list-style-type: none;
    text-align: center;
    font-weight: 900;
}



fieldset {
   padding:20px; 
}

.submit {
    margin: 31px;
    top: 87%;
    position: absolute;
    left: 39%;
}

span {
    display:block;
    font-size: 1em;
    margin-top:20px;
    font-weight: 900;
    color:white;
    text-shadow: 2px 2px gray;
    font-style:oblique;
}

.icon {
    display: none;
}

.logo3 {
    display: none;
}


.inner-header {
    width:100%;
    height:110px;
    background: rgba(214, 179, 179, 0.6); 
    position:fixed;
    top:0;

}

}


@media all and (min-width:768px) and (max-width:1279px) {

    .inner-header {
        width:100%;
        height:110px;
        background: rgba(214, 179, 179, 0.6); 
        position:fixed;
        top:0;
    
    }
    nav {
        width: 85%;
        float: right;
        margin-top: 45px;
        
    }
    
    nav li{
        float: left;
        margin-left: 10px;
        width:140px;
        text-align: center;
        list-style-type: none;
    
    }
    
    nav a {
        font-size: 1.7em;
        color:blue;    
    text-shadow: 3px 0 #888888;
    letter-spacing:2px;
    font-weight:bold;
        text-decoration: none; 
        
    }
    
    nav a:hover {
        background: lightblue;
        padding:15px 25px 15px 25px;
        border-radius:20px; 
    } 

    
    
      .name {
        z-index:10;
        top:15%;
        left:28%;
        font-size: 2em;
        position:absolute;
        color:white;
        text-shadow: 2px 1px aquamarine;
    
    }  

    .page {
        z-index:10;
        top:22%;
        left:43%;
        font-size: 2em;
        position:absolute;
        color:hotpink;
        text-shadow: 2px 2px red;
    }
    
    .marvei {
        float:left;
        width:45%;
    
    }
    
    .marvel {
        float:right;
        width:45%;
        
    }

    
    
fieldset {
    z-index:10;
    top:24%;
    left:28%;
    position:absolute;
}

.submit {
    margin: 31px;
    top: 89%;
    position: absolute;
    left: 32.5%;
}

.wrapper {
    width:100%;
    margin:30px auto;
}

.title, .titles {
    font-size: 3em;
    letter-spacing: 20px;
    text-align: center !important;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.mypic {
    display: none;
}


.mypic2 {
    width:100%;
    height:300px;
    margin-top: 20px;
}

.myfname {

    margin:30px 30px 0px 30px;
    
    text-align: center;
    letter-spacing: 30px;
    font-size:2em;
    text-shadow:  3px 3px 5px royalblue;
}

.mylname {
    margin: 3px 70px;
    text-align: center;
    letter-spacing: 30px;
    font-size:2em;
    text-shadow:  3px 3px 5px royalblue;
}

.myfname2, .mylname2 {
    display:none;
} 

#class {
    width:100%;
    margin:0 auto;
    margin-top:75px;
    height:640px;
    /* background:#ccc;
    border: 2px solid black; */
    padding: 0 6px 10px 0;
    clear: both;
}


.logo {
    height:150px;
    width:16.9%;
    margin:10px;
    display:inline-block;
    box-shadow: 0 0 20px -5px rgba(0, 0, 0, .8);
    border-radius:70%;
}

.logo2 {
    height:150px;
    width:18.3%;
    margin:10px;
    display:inline-block;
    box-shadow: 0 0 20px -5px rgba(0, 0, 0, .8);
    border-radius:70%;
}


.one {
    width:100%;
    height:180px;

}

.two {
    width:100%;
    height:180px;
    padding-left:12%;

}


article {
    width:100%;
    margin:auto;
}

.infomation {
    text-align: center;
    margin: 20px;
}

.telphone {
    display: block;
    width:100%;
}


.email {
    display: block;
    width:100%;
}

.info {
    text-align: center;
    margin:20px;
    font-size:1.5em;
}

.imglogo {
    margin-top:20px;
    
    border-radius: 75%;
    width:150px;
    height:150px;
}

.imglogo2 {
    margin-top:20px;
    border-radius: 75%;
    width:150px;
    height:150px;
}


.footer {
    
    display: block;
    line-height: 30px;
    list-style-type: none;
    text-align: center;
    font-weight: 900;
}

.below {
    width:93.5%;
    margin-right:20px;
}

span {
    display:block;
    font-size: .7em;
    margin-top:10px;
    font-weight: 900;
    color:white;
    text-shadow: 2px 2px gray;
    font-style:oblique;
}




.icon {
    display: none;
}


.logo3 {
    display: none;
}

.top_thx {
    z-index:10;
    top:25%;
        left:38.5%;
    font-size: 2.3em;
    position:absolute;
    color:white;
    text-shadow: 2px 1px aquamarine;
}


.check2 {
    display:block;
    margin:20px auto;
    border-radius: 90%;
    width:200px;
    height:200px;
    
}





}















@media all and (max-width:767px) {

    .inner-header {
        width:100%;
    
        position:fixed;
        top:0;
    
    }
    
   
    .container, .present, .green, .lid, .box, .bow, .ribbon, .page, fieldset {
        display: none;
    }

    .fade-img {
        position:relative;
        z-index: -1;
        height:500px;
      }
      
      .fade-img img {
        position:absolute;
        height: 500px;
        width: 100%;
      }
    
    ul.topnav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color:rgba(214, 179, 179, 0.7); 
    }

    ul.topnav li:not(:first-child) {display: none;}
    ul.topnav li.icon {
      float: right;
      display: inline-block;
     }    
      
      
    ul.topnav.responsive {position: relative;}
    ul.topnav.responsive li.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
  
    ul.topnav.responsive li {
      float: none;
      display: inline;
    }
  
    ul.topnav.responsive li a {
      display: block;
      text-align: left;
      float:none;  
    }
      
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  ul.topnav li {
      list-style-type: none;
      float:left;
      font-weight: 800;
      position:relative;
      
      }
   
  
  .topnav a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  

  .topnav .icon {
    display: none;
  }


  .name {
    z-index:10;
    top:38%;
    left:6%;
    font-size: 2em;
    position:absolute;
    color:white;
    text-shadow: 2px 1px aquamarine;

}  



.mypic2 {
    display: none;
}


.mypic {
    width:100%;
    height:400px;
    margin-top: 20px;
}


#first, #second, #third {
    height:100px;
    width:27%;
    margin:10px;
    display:inline-block;
    box-shadow: 0 0 20px -5px rgba(0, 0, 0, .8);
    border-radius:70%;
}

#fourth {
    display:none;
}

.imglogo {
    margin-top:20px;
    
    border-radius: 75%;
    width:150px;
    height:150px;
}

.imglogo2 {
    margin-top:20px;
    border-radius: 75%;
    width:150px;
    height:150px;
}


.title, .titles {
    font-size: 2em;
    letter-spacing: 20px;
    text-align: center !important;
   margin:20px;
    text-transform: uppercase;
}


article {
    width:100%;
    margin:0 auto;
    clear:both;
}

.below {
    width:89%;
    margin-right:20px;
}


.footer {
    
    display: block;
    line-height: 30px;
    list-style-type: none;
    text-align: center;
    font-weight: 900;
}


.info {
    text-align: center;
    margin:20px;
}

.telphone {
    display: block;
    width:100%;
}


.email {
    display: block;
    width:100%;
}

.infomation {
    text-align: center;
    margin:20px;
    font-size:1.5em;
}

.mylname {
    margin: 3px 70px;
    text-align: center;
    letter-spacing: 30px;
    font-size:2em;
    text-shadow:  3px 3px 5px royalblue;
}

.myfname2, .mylname2 {
    display:none;
} 

.myfname {

    margin:20px 30px 0px 30px;
    
    text-align: center;
    letter-spacing: 30px;
    font-size:2em;
    text-shadow:  3px 3px 5px royalblue;
}

.top_thx {
    z-index:10;
    top:25%;
        left:38.5%;
    font-size: 2.3em;
    position:absolute;
    color:white;
    text-shadow: 2px 1px aquamarine;
}


.check2 {
    display:block;
    margin:20px auto;
    border-radius: 90%;
    width:200px;
    height:200px;
    
}



}