body {
    background: aquamarine;
}

#main {
    width:400px;
    
}

main {
    width:400px;
    
    margin: 0 auto;
}


nav {
    padding-top:10px;
    width:300px;
    margin: 0 auto;
}





.thumbnails img {
    width:70px;
    
}

.thumbnails {
    display:grid;
    grid-template-columns: repeat(4, 106px);
    margin-left: 7.5px;
}

.thumbnails li:hover,
.thumbnails li.space {
    transform:scale(0.9);
    
    
}

h1 {
    text-align: center;
    margin:10px;
    font-size: 1.4em;
}

ul {
    list-style: none;
    padding:0;
    margin:0;
}

li {
    list-style: none;
}

#play {
    float:left;
    width:40%;
    cursor: pointer;
    user-select: none;
    background: #f44336;
    padding:8px;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0 4px 0 #d1483e;
}

#play:active {
    margin-top:5px;
    box-shadow: none;
}

#reset {
    float:right;
    width:40%;
    
    cursor: pointer;
    user-select: none;
    background: #00aaff;
    padding:8px;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0 4px 0 #0088cc;
}

#reset a {
    text-decoration: none; 
    padding:42px; 
}

#reset:active {
    margin-top:5px;
    box-shadow: none;
}
